*{
    margin: 0px;
    padding: 0px;
}

:root{
    --colorText: #000;
    --colorText2: #01018b;
    --color0: #fff;
    --color1: #bbbbbb;
    --color2: #575757;
    --color3: #f8d300;
    --color4: #ecb80d;
    --color5: #ffffff;
}

body{
    height: 98vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: aliceblue;
    color: var(--color0)
}

.logo2{
    display: none;
}

.logo_header{
    display: flex;
    margin: 4px;
    padding: 4px;
}

.img_logo_header{
    width: 45px;
}

svg{
    color: #000;
}

#imglogo{
    height: 34px;
}

/*CSS do Botões*/
.header, .nagivation_header{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header{
    background-color: var(--color3);
    box-shadow: 1px 1px 4px black;
    height: 3.5em;
    justify-content: space-between;
    padding: 0 10%;
    margin: 4px;
    border-radius: 30px;
}

.header h1{
    color: var(--colorText);
}

.nagivation_header{
    gap: 3em;
    z-index: 2;
}

.nagivation_header p {
    display: none;
}

.nagivation_header a{
    align-items: center;
    display: flex;
    text-decoration: none;
    color: var(--colorText);
    transition: 1s;
    font-weight: bold;
}

.nagivation_header h3{
    display: none;
}

.navLogo{
    width: 30px;
}

/*Cor de fundo do botão*/
.active{
    background-color: #00000060;
    padding: 10px;
    border-radius: 10px;
}

.btn_header:hover{
    padding: 2px;
    background-color: #00000050;
    color: #fffbec;
    border-radius: 10px;
}

.content{
    text-align: center;
    padding-top: 5em;
    height: 100vh;
    transition: 1s;
}

.btn_icon_header{
    background-color: transparent;
    border: none;
    color: var(--color0);
    cursor: pointer;
    display: none;
}

/* Aqui tinha um Keyframe*/



/* Main */

.main{
    display: inline-block;
    background-color: #ecb80d;
    max-width: 500px;
    padding: 10px;
    margin: auto;
    margin-bottom: 30px;
    border-left: 1.5px solid var(--colorText);
    border-bottom: 1.5px solid var(--colorText);
    border-radius: 20px;
    align-items: center;
}

.mainTitulo{
    text-decoration: underline;
    color: var(--colorText2);
    max-width: 500px;
    padding: 10px;
    margin: auto;
    border-top: 1.5px solid var(--colorText);
    border-left: 1.5px solid var(--colorText);
    border-radius: 20px;
    background-color: var(--color4);
}

.conteudo_main{
    display: flex;
    align-items: center;
}

.conteudo_main a {
    text-decoration: none;
    color: rgb(22, 70, 112);
}

.conteudo_main h1{
    font-size: 20px;
}

.conteudo_main #txt {
    margin: auto;
    text-align: center;
    text-decoration: underline;
    color: var(--colorText2);
}

.placar{
    display: flex;
}

.placar_time{
    display: grid;
    color: var(--colorText);
    margin: 4px;
    padding: 10px;
}

.placar h3{
    color: var(--colorText);
    margin: 4px;
    padding: 10px;
}

.main h1{
    color: var(--colorText);
}

.main p{
    color: var(--colorText);
}

.main img{
    height: 130px;
}

.ico #ico{
    height: 30px;
    margin: 8px;
}

.ico #icoboll{
    display: grid;
    height: 120px;
}

/* Footer */

.footer{
    padding: 20px;
    margin: 4px;
    background-color: #ecb80d;
    border-radius: 30px;
    border-top: solid #000000;
}

.nagivation_footer{
    margin: auto;
    display: list-item;
}

.nagivation_footer a{
    margin: auto;
    padding: 20px;
    text-decoration: none;
    color: var(--color5);
    transition: 1s;
    font-weight: bold;
}

.nagivation_footer a:hover{
    border-radius: 40px;
    background-color: rgba(255, 255, 255, 0.37);
    box-shadow: 1px 1px 1px rgb(253, 255, 120);
}

.nagivation_footer img{
    height: 50px;
}








/* Pagina Torneio bottao*/

.main #btn1{
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--color0);
    background-color: var(--colorText2);
    padding: 6px;
    margin: 20px;
    border-radius: 30px;
}

.main #btn1:hover{
    background-color: #3d3da8;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}

.main #btn2{
    text-decoration: none;
    font-size: 1.2rem;
    color: black;
    background-color: #3d3da8;
    padding: 6px;
    margin: 20px;
    border-radius: 30px;
}

.main #btn2:hover{
    background-color: #7676b4;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}

button a{
    color: #fff;
    text-decoration: none;
}

/*Pagina amigos*/

.titu{
    text-decoration: none;
    max-height: 300px;
    font-size: 1.3rem;
    color: var(--colorText);
    border-radius: 30px;
}

.titu:hover{
    font-size: 1.5em;
}